.white_box {
  width:60%;
  background-color: white;
  border-radius: 5px;
}

.outerdiv {
  background-image: url('../images/patronicity_cover.jpg');
  display:flex;
  justify-content:center;
  align-items:center;
  width:80%;
  height: 600px;
  margin:0 auto;
}
