body {
  font-family: Roboto, sans-serif;
}

div.patron_image {
  margin-top: 50px;
  position: relative;
}
.sect {
  width: 95%;
  margin: 0 auto;
}
.img-container {
 position:relative;
}
img {
   border-radius: 5px;
}
.user{
 position: absolute;
 text-align: center;
 width: 99%;
}
/*styles for tabs start*/
.container{
    width: 85%;
    margin: 0 auto;
}

  h2 {
    margin-top: 10px;
  }
.tabs{
    margin: 0px;
    padding: 0px;
    list-style: none;
    background:#00C851;
    border-bottom: 5px #FF8800 solid;
}
.tabs li{
    display: inline-block;
    margin:0;
    padding: 10px 20px 5px 20px;
    cursor: pointer;
    font-family: roboto, sans-serif;
    font-size:1.0em;
    line-height:2em;
    color:#FFF;
}
.tabs li:hover {
    background:#007E33;
    }
.tabs li.current{
    background: #007E33;
    color: #FFF;
}
.tab-content{
    display: none;
    background: #f5f5f5;
    padding: 15px;
    font-family: roboto, sans-serif;
    font-size:1.0em;
    line-height:1.4;

}
.tab-content.current{
    display: inherit;
}
/*END styles for tabs*/
.face {
  float: right;
  border-radius: 50%;
  width: 40%;
  margin-top: -10px;

}
.edit {
  margin: 10px;
}
.form-control {
    width: 99%;
    height: 34px;
    padding: 6px 12px;
    margin: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .photo {
    float: right;
    right: 0;
    bottom: 0;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  /*table styles*/
  tr {
    text-align: left;
}
